body {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: sans-serif;
  background-color: #ffffff;
}

.playlist-view {
  text-align: center;
}

.home {
  text-align: center;
}

img.profile {
  height: 120px;
  position: relative;
}

img.playlistart {
  height: 300px;
}

button.spotifyopen {
  margin-top: 5px;
}

.userheader {
  font-size: 50px;
}

.logout {
  float: right;
}
