body {
  font-family: sans-serif;
  text-align: center;
  background-color: #f5f5f5;
}

img.profile {
  height: 100px;
  position: relative;
}

img.playlistart {
  height: 300px;
}

button.spotifyopen {
  margin-top: 5px;
}
