body {
  font-family: sans-serif;
  text-align: center;
}

body.header {
  background-color: #fffff0;
}

img.profile {
  height: 100px;
  position: relative;
}

img.playlistart {
  height: 300px;
}

button.spotifyopen {
  margin-top: 5px;
}
