<div ng-controller='SearchController'>

<!-- user info display -->
<md-button class='logout' ng-hide='!isLoggedIn()' ng-click='logOut()'>Log Out</md-button>

<div class='page-header'>
  <p>
    {{ 'Hello, ' + data.user.display_name }}
  </p>
  <img class='profile' src='{{ data.user.images[0].url }}' />
  <div>
    <a href='{{ data.user.external_urls.spotify }}' target='_blank'><md-button class='md-raised'>Go to your Spotify Profile</md-button></a>
  </div>
</div>

<md-button class='md-raised md-warn'ng-hide='!showPlaylistButton()' ng-click='findPlaylist()'>Find me a playlist!</md-button>
<md-button class='md-raised md-warn'ng-hide='!showSongsButton()' ng-click='findSong()'>Find me a song!</md-button>
<br />


<div class='container'>
  <div class='row'>

    <!-- section for playlists -->

    <div class='col-md-6'>
      <md-button class='md-raised md-warn'ng-hide='showPlaylistButton()' ng-click='pickAnother()'>Pick another playlist!</md-button>
      <h4>
        <div ng-hide='showPlaylistButton()'>
          {{ 'Let\'s listen to... ' + data.playlist.name }}
        </div>
      </h4>
      <img class='playlistart' src='{{ data.playlist.images[0].url }}'  />
      <div ng-hide='showPlaylistButton()'>
        <div>
          <iframe src="{{ trustSrc(data.widget) }}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        </div>
        <a href='{{ data.playlist.external_urls.spotify }}' target='_blank'><md-button class='btn spotifyopen'>Open Spotify Playlist</md-button></a>
      </div>
    </div>

    <!-- section for songs -->

    <div class='col-md-6'>
      <md-button class='md-raised md-warn'ng-hide='showSongsButton()' ng-click='pickAnotherSong()'>Pick another song!</md-button>
      <h4>
        <div ng-hide='showSongsButton()'>
          {{ 'Let\'s listen to... ' + data.songs.track.name + ', by ' + data.songs.track.artists[0].name }}
        </div>
      </h4>
      <img class='playlistart' src='{{ data.songs.track.album.images[0].url }}' />
      <div ng-hide='showSongsButton()'>
        <div>
          <iframe src="{{ trustSrc(data.songwidget) }}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        </div>
        <a href='{{ data.songs.track.external_urls.spotify }}' target='_blank'><md-button class='btn spotifyopen'>Open Song on Spotify</md-button></a>
      </div>
    </div>


  </div>
</div>


</div>
