<div ng-controller='SearchController'>

<div class='page-header header'>
  <p>
    {{ 'Hello, ' + data.user.display_name }}
  </p>
  <img class='profile' src='{{ data.user.images[0].url }}' />
  <div>
    <a href='{{ data.user.external_urls.spotify }}' target='_blank'><button class='btn btn-primary'>Go to your Spotify Profile</button></a>
  </div>
</div>

<button class='btn btn-warning'ng-hide='!showPlaylistButton()' ng-click='findPlaylist()'>Find me a playlist!</button>
<button class='btn btn-warning'ng-hide='!showSongsButton()' ng-click='findSong()'>Find me a song!</button>
<br />
<button class='btn btn-warning'ng-hide='showPlaylistButton()' ng-click='pickAnother()'>Pick another playlist!</button>
<button class='btn btn-warning'ng-hide='showSongsButton()' ng-click='pickAnotherSong()'>Pick another song!</button>
<div class='row'>
  <div class='col-md-6'>
    <h2>
      <div ng-hide='showPlaylistButton()'>
        {{ 'Let\'s listen to... ' + data.playlist.name }}
      </div>
    </h2>
    <img class='playlistart' src='{{ data.playlist.images[0].url }}'  />
    <div ng-hide='showPlaylistButton()'>
      <a href='{{ data.playlist.external_urls.spotify }}' target='_blank'><button class='btn spotifyopen'>Open Spotify Playlist</button></a>
    </div>
  </div>
  <div class='col-md-6'>
    <div ng-hide='showSongsButton()'>
      {{ 'Let\'s listen to... ' + data.songs.track.name + ', by ' + data.songs.track.artists[0].name }}
    </div>
    <img class='playlistart' src='{{ data.songs.track.album.images[0].url }}'  />
    <div ng-hide='showSongsButton()'>
      <a href='{{ data.songs.track.external_urls.spotify }}' target='_blank'><button class='btn spotifyopen'>Open Song on Spotify</button></a>
    </div>
  </div>
</div>


</div>
