<div ng-controller='SearchController'>

<div class='page-header'>
  <p>
    {{ 'Hello, ' + data.user.displayName }}
  </p>
  <img class='profile' src='{{ data.user.photos[0] }}' />
</div>

<button ng-hide='!showButton()' ng-click='findPlaylist()'>Find me a playlist!</button>
<br />
<button ng-hide='showButton()' ng-click='pickAnother()'>Pick another!</button>
<div>
  <h2>
    {{ data.playlist.name }}
  </h2>
  <img class='playlistart' src='{{ data.playlist.images[0].url }}'  />
  <p>
    <a href='{{ data.playlist.external_urls.spotify }}' target='_blank'>Open on Spotify</a>
  </p>
</div>

</div>
